<style>
    #filters {
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
            position: relative; /* Ensure that arrows are positioned relative to this container */
        }
        .filter {
            text-align: center;
            margin-top: 1rem;
            opacity: 0.6;
            cursor: pointer;
            user-select: none;
        }

        .active-filter {
            font-weight: bold;
        }
        .tax-toggle {
            width: auto;
            background-color: rgb(255, 255, 255);
            padding: 1rem;
            border: 2px solid grey;
            border-radius: 0.5rem;
            margin-left: 1rem;
            justify-items: center;
            align-items: center;
        }
        .priceAfterTax {
            display: none;
        }
        .filter-places {
            width: 70%;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            padding-left: 4rem;
            padding-right: 4rem;
            z-index: 0;
            overflow-x: auto; /* Allow horizontal scrolling */
            scroll-behavior: smooth; /* Smooth scroll by default */
            scrollbar-width: none; /* Hide scrollbar for Firefox */
        }
        .filter-places::-webkit-scrollbar {
            display: none; /* Hide scrollbar for WebKit browsers */
        }
        .arrow-filter {
            position: absolute; /* Ensure that arrows are positioned relative to #filters */
            top: 50%;
            transform: translateY(-50%);
            color: red;
            background-color: white;
            border: 1px solid black;
            padding: 1rem;
            border-radius: 50%;
            cursor: pointer;
            z-index: 1;
        }
        .arrow-filter:hover {
            color: white;
            background-color: red;
        }
        .right-filter {
            left: 66% ;
        }
        .left-filter {
            left: 0;
        }
        .list-location-country{
            display: none;
        }

        @media (max-width: 992px) {
            .filter-places {
                width: 90%;
                padding-left: 1rem;
                padding-right: 1rem;
                gap: 1rem;
            }
            .arrow-filter {
                padding: 0.75rem;
                top: 20%;
                transform: translateY(-50%);
            }
            .right-filter {
            left: 90% ;
            }
            .left-filter {
                left: 0;
            }
            .tax-toggle {
                margin: 0;
            }
            #filters{
                display: flex;
                flex-direction: column;
                gap:2rem ;
            }
        }
        
</style>
<% layout('/layouts/boilerplate') -%>
    
<div id="filters">
        <div class="left-filter arrow-filter">
            <i class="fa-solid fa-arrow-left fa-xl"></i>
        </div>

        <div class="right-filter arrow-filter">
            <i class="fa-solid fa-arrow-right fa-xl"></i>
        </div>

        <div class="filter-places">
            <div class="filter ">
                <div><i class="fa-solid fa-arrow-trend-up"></i></div>
                <p class="active-filter"><b>Trending</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p class="active-filter"><b>Rooms</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p class="active-filter"><b>Iconic City</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p class="active-filter"><b>Castles</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p class="active-filter"><b>Amazing Pools</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-tent"></i></div>
                <p class="active-filter"><b>Camping</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p class="active-filter"><b>Farms</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-snowboarding"></i></div>
                <p class="active-filter"><b>Arctic</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p class="active-filter"><b>Domes</b></p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-ship"></i></div>
                <p class="active-filter"><b>Boats</b></p>
            </div>
        </div>

        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Total After Taxes</label>
            </div>
        </div>
</div>
    
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3 show-all-listings">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" style="text-decoration: none;">
                <div class="card">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing Image" style="height: 20rem">
                    <div class="card-body">
                        <p class="card-text">
                            <h5 class="list-title"><b><%= listing.title %></b></h5>
                            <h5 class="list-location list-location-country"><b><%= listing.location %></b></h5>
                            <h5 class="list-country list-location-country"><b><%= listing.country %></b></h5>
                            <h5 class="list-genre list-location-country "><b><%= listing.genre %></b></h5>
                            <p> &#x20B9; <%= listing.price.toLocaleString("en-IN") %> / Night 
                                <i class="priceAfterTax"> + 18% GST%</i>
                            </p>
                        </p>
                    </div>
                </div>
            </a>
        <% } %>
</div>

<script>
        let taxBtn = document.getElementById("flexSwitchCheckDefault");
        taxBtn.addEventListener("click", () => {
            let taxText = document.getElementsByClassName("priceAfterTax");
            for (let tax of taxText) {
                if (tax.style.display !== "inline") {
                    tax.style.display = "inline";
                } else {
                    tax.style.display = "none";
                }
            }
        });

        let filters = document.querySelector(".filter-places");
        let rightArrow = document.querySelector(".right-filter");
        let leftArrow = document.querySelector(".left-filter");

        rightArrow.addEventListener("click", () => {
            filters.scrollBy({
                left: 200, // Scrolls 200px to the right
                behavior: "smooth" // Smooth scroll
            });
        });

        leftArrow.addEventListener("click", () => {
            filters.scrollBy({
                left: -200, // Scrolls 200px to the left
                behavior: "smooth" // Smooth scroll
            });
        });
</script>
