<% layout('/layouts/boilerplate') -%>
<body>
    <div class="show-indi-list">
        <div class="show-list-div">
            <h1><b><%= listID.title %></b></h1>
            <div class="show-card show-list-details" style="width: 100% ;">
                <img src="<%= listID.image.url %>" class="card-img-top show-img" alt="<%= listID.image %> Image">
                <div class="show-card-body">
                  <p class="show-card-text">
                      <div class="card-text-div-1">
                        <div>
                            <i class="fa-solid fa-map-pin fa-xl"></i>
                        </div>
                        <h4><b></b><i><%= listID.location %></i></h4>
                        <h4>,<b></b><i><%= listID.country %></i></h4>
                      </div>
                      <h6 class="show-list-price"><b>Price:-</b><i>&#x20B9; <%= listID.price.toLocaleString("en-IN") %> /Night</i></h6>
                  </p>
                </div>
                <div class="show-btns">
                    <% if(currentUser && currentUser._id.equals(listID.owner._id)){ %>
                        <a href="/listings/edit/<%= listID._id %>">
                            <button class="edit-list-btn">Edit This List</button>
                        </a>
                        <form method="POST" action="/listings/<%= listID._id %>?_method=DELETE">
                            <button class="del-list-btn">Delete This List</button>
                        </form>
                        <% }else{ %>
                            <a href="#" class="show-card-reserve-btn">
                                <button class="edit-list-btn">Reserve</button>
                            </a>
                        <% } %>
                </div>
                <br>
                <hr>
                <div class="card-text-host">
                    <div class="user-dp">
                        <i class="fa-solid fa-user fa-xl"></i>
                    </div>
                    <h5>Hosted By <b><i> @<%= listID.owner.username %></i></b></h5>
                </div>
                <hr>
                <div class="card-text-desc">
                    <h6><%= listID.description %></h6>
                </div>
                <hr>

                <!-- Comments -->
                 <div class="reviews-warp">
                    <h4><b>Reviews</b></h4>
                    <div class="all-reviews">
                        <% for(let listRev of listID.reviews){ %>
                            <div class="reviews-card">
                                <div class="reviews-card-body">
                                    <div class=" reviews-card-text">
                                        <div class="user-dp-name-star">
                                            <div class="user-dp">
                                                <i class="fa-solid fa-user fa-xl comment-user"></i>
                                            </div>
                                            <div class="review-username-star">
                                                <h5><b>@<%= listRev.owner.username %></b></h5>
                                                <div class="rating-star rating-star-div">
                                                    <p class="starability-result rating-star" data-rating="<%= listRev.rating %>"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review-del-btn-wrap">
                                            <% if(currentUser && currentUser._id.equals(listRev.owner._id)){ %>
                                                <div class="review-btn">
                                                    <form method="POST" action="/listings/<%= listID._id %>/reviews/<%= listRev._id %>?_method=DELETE">
                                                        <button title="Delete Comment" class="btn btn-sm btn-dark review-del-btn">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                    <p class="rating-comment"><i><%= listRev.comment %></i></p>
                                </div>
                           </div>
                       <% } %>
                    </div>
                 </div>
                 <hr>
                 <% if(currentUser){ %>
                    <div class="comment-wrap">
                       <h4><b>Add Your Review</b></h4>
                       <form method="POST" action="/listings/<%= listID._id %>/reviews" novalidate class="needs-validation">
                           <div class="mb-3">
                               <label for="comment" class="form-label"><b>Comment:</b></label>
                               <textarea type="text" placeholder="Write Your Experince Here" 
                               name="review[comment]" class="form-control" required></textarea>
                               <div class="valid-feedback">Filled</div>
                               <div class="invalid-feedback">Provide Review!</div>
                           </div>
                           <div class=" review-rating-sumbit">
                               <div class=" review-rating">
                                   <legend><b>Rating:</b></legend>
                                   <fieldset class="starability-slot">
                                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                   </fieldset>
                                   <div class="valid-feedback">Filled</div>
                                   <div class="invalid-feedback">Provide Description!</div>
                               </div>
                               <div class="review-submit">
                                   <button>Post</button>
                               </div>
                           </div>
                       </form>
                    </div>
                 <%}%>

            </div>
        </div>
    </div>
</body>
